#game{
    position:absolute;
   display:none;
   background-color:hotpink;
    margin:auto;
    flex-direction: column;
    align-items: center;
    min-height:95vh;
    width:72vw;
    animation-name:start;
    animation-duration:0.8s;
    #exitGame{
        margin-left:auto;
        border-style:solid;
        border-width:0px 0px 1px 1px ;
        i{
            font-size:1.4em; 
        }
    }
}

@keyframes start {
    0%{
        opacity:0
    }
    100%{
        opacity:100%;
    }
}