#game{
    background-color:peru;
    height:95vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    #exitFrame{
      align-self: flex-end;
      display:flex;
      justify-content: flex-end;
      margin-right:3px;
    }
 
}