#gameBoard{
    margin:auto;
    min-height:95vh;
    width:70vw;
    background-color:lightblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    header{
        width:100%;
        border-style:solid;
        text-align:center;
        p{

        }
    }
    main{
        display:flex;
        font-size:1em;
       @include for-desktop-up-l{
           width:70%;
           font-size:1.3em;
       }
    aside {
        margin:1%;
        border-style:dotted;
        border-color:black;
        width:50%;
        
        text-align:center;
    }}
}