@include for-desktop-xl {
  #leaderBoard{
    font-family:lora;
      box-shadow:1px 1px 1px -0.5px;
      width:100%;
      min-height:70vh;
      background-color:$magenta-crayola;
      display:flex;
      flex-direction: column;
      align-items: center;
      border-style:solid;
      border-width:2px;
      border-radius:6%;
      h2{
        font-size:2.2em;
        border-style:solid;
        width:70%;
        border-width:0px 0px 1px 0px;
        i{
          border-style:solid;
          border-radius:100%;
          padding:1.5%;
          margin-bottom:4%;
          color:$minion-yellow;
        }
      } 
      #leaderboardFrame{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:$minion-yellow;
        width:25vw;
       min-height:40vh;
        border-style:solid;
        border-width:1px;
        border-radius:3%;
        table{
          
          font-size:1em;
          border-collapse: separate;
          border-spacing: 0 15px;
        
         
          border-radius:1%;
          width:90%;
          margin-top:1%;
          tr{
            border-style:solid;
          }
          th{
              height:2em;    
              border-style:solid;
              border-width:1px 1px 0px 0px;
          }
          .playerScore{
            border-width:1px 0px 0px 0px;
          }
          
        }
        p{

          margin-left:auto;
          margin-right:3%;
          background-color:rgba(0, 0, 0, 0.253);
          color:rgb(5, 1, 27);
        } 
      }
  }
}
@include for-desktop-l {
    
  }

  @include for-desktop-m {
    
  }

  @include for-mobile-l{
    
  }

  @include for-mobile-s{
    
  }