@include for-desktop-xl{
    #rules{
        font-family:lora;
    border-style:solid;
    border-width:1px;
    border-radius:2%;
    width:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:auto;
    background-color:$sea-green-crayola;
    
    h1{
        border-style:solid;
        border-width:1px;
        width:15%;
        margin-top:2%;
        color:rgb(10, 2, 37);
        margin-bottom:-5%;
    }
    ol{
        color:rgb(221, 230, 255);
        text-align:start;
        list-style-type: none;
       
        p{
            color:rgb(0, 0, 32);
        }
        li{
            margin:1%;
            margin-right:5%;
            margin-top:1%;
            color:rgb(10, 2, 37);
            text-decoration:none;
        }
    }
}}
@include for-desktop-l{
 }
@include for-desktop-m{
}
@include for-mobile-l{
}

@include for-mobile-s{
}