@include for-desktop-xl{
    #rules{
        font-family:lora;
        background-color:$magenta-crayola;
        border-radius:5%;
        border-style:solid;
        border-width:1px;
        width:auto;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        #ruleFrame{
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            background-color:rgba(255, 255, 255, 0.575);
            border-radius:5%;
            height:90%;
            width:90%;
            border-style:solid;
            border-width:1px;
    h1{
      
     
        font-size:1.6em;
        
        width:15%;
        color:rgb(10, 2, 37);
        
    }
    ol{
        margin-left:-7%;
        margin-top:-1.5em;
        text-align:start;
        list-style-type: none;
       display:flex;
       flex-direction: column;
       align-items: center;
        p{
            width:90%;
            margin-left:auto;
            margin-right:auto;
            color:rgb(0, 0, 32);
            background-color:rgb(255, 217, 217);
        }
        li{
            width:90%;
            color:rgb(10, 2, 37);
            text-decoration:none;
            background-color: $inner-frame-body;
        }
        :nth-child(5){
            text-align:center;
        }
        :nth-child(8){
            text-align: center;
            
        }
    }
}
}}
@include for-desktop-l{
 }
@include for-desktop-m{
}
@include for-mobile-l{
}

@include for-mobile-s{
}