#stackArea{
    display:flex;
    flex-direction: column;
    main{
    display:flex;
    .stacks{
      display:flex;
      justify-content:center;
      align-items:center;
      background-color:brown;
      margin:5%;
      height:10em;
      width:10em;
       color:white;
    }
  }
    aside{
    background-color:chartreuse;
    
    }
  }