@include for-desktop-xl {
#startArea{
    #playButton{
        margin-top:10%;
       display:flex;
       flex-direction: row;
       align-items:center;
       background-color:rgb(245, 37, 0);
       box-shadow:1px 1px 2px 1px;
       border-radius:10%;
       height:9vh;
        p{
            font-family:lora;
            font-size:2.7em;
            width:4em;
            color:white;
            i{
                padding:6%;
                // border-style:solid;
                // border-color:black;
                // border-width:1.5px;
                // border-radius:100%;
            }
        }
    }
}
}
@include for-desktop-l {
    #startArea{

        #playButton{
                
            margin-top:10%;
           display:flex;
           flex-direction: row;
           align-items:center;
           background-color:rgb(245, 131, 0);
           box-shadow:1px 1px 2px 1px;
           border-radius:10%;
           height:9vh;
           min-width:10vw;
           max-width:15vw;
            p{
                font-family:lora;
                font-size:2em;
                width:4em;
                i{
                    margin-left:5%;
                    // border-style:solid;
                    // border-color:black;
                    // border-width:1.5px;
                    // border-radius:100%;
                }
            }
        }
    }
}

@include for-desktop-m {
    #startArea{
        #playButton{
            margin-top:10%;
           display:flex;
           flex-direction: row;
           align-items:center;
           background-color:rgb(245, 37, 0);
           box-shadow:1px 1px 2px 1px;
           border-radius:10%;
           height:9vh;
            p{
                font-family:lora;
                font-size:2.7em;
                width:4em;
                i{
                    padding:6%;
                    // border-style:solid;
                    // border-color:black;
                    // border-width:1.5px;
                    // border-radius:100%;
                }
            }
        }
    }
}

@include for-mobile-l{
  #startArea{
    #playButton{
        margin-top:10%;
       display:flex;
       flex-direction: row;
       align-items:center;
       background-color:rgb(245, 131, 0);
       box-shadow:1px 1px 2px 1px;
       border-radius:10%;
       height:9vh;
        p{
            font-family:lora;
            font-size:2.7em;
            width:4em;
            i{
                padding:6%;
                // border-style:solid;
                // border-color:black;
                // border-width:1.5px;
                // border-radius:100%;
            }
        }
    }
}
}

@include for-mobile-s{
  
}