// media queries
@mixin for-desktop-xl {
    @media (min-width: 1200px) { @content; }
  }
@mixin for-desktop-l {
    @media (max-width: 1200px) { @content; }
  }

  @mixin for-desktop-m {
    @media (max-width: 500px) { @content; }
  }

  @mixin for-mobile-l{
    @media (max-width: 499px) { @content; }
  }

  @mixin for-mobile-s{
    @media (max-width: 320px) { @content; }
  }

// colors
$amethyst: #9b5de5ff;
$magenta-crayola: #f15bb5ff;
$minion-yellow: #fee440ff;
$capri: #00bbf9ff;
$sea-green-crayola: #00f5d4ff;